@import "partials/global";
@import "partials/header";

.space {
  margin-top: 5%;
  .spacetravel {
    margin-left: 5%;
    h5 {
      margin-bottom: 5%;
    }
    h1 {
      font-size: 500%;
      font-weight: bolder;
      margin-bottom: 5%;
    }
    p {
      padding: 10px 57% 11px 16px;
      line-height: 24px;
      word-spacing: 3%;

    }
  }
  .explore {
    margin-right: 3%;
    margin-top: 15%;
    transition-property: background, border-radius, color,
     transform;
    transition-duration: 1s, 3s, 4s;
    transition-delay: 3s;
    transition-timing-function: ease-in-out;
    .explore:hover{
      background-color: red;
      border-radius: 50%;
      color: white;
      transform: rotateY(180deg);
    }
    h1 {
      font-size: 180%;
      font-weight: bolder;
      border: 1px solid white;
      padding: 35px 28px 33px 26px;
      border-radius: 50% 50% 50% 50%;
      color: black;
      background-color: white;
    }
  }
}
