@import "partials/global";
@import "partials/header";

.space {
  margin-top: 5%;
  .spacetravel {
    margin-left: 5%;
    h5 {
      margin-bottom: 5%;
      position: relative;
      animation-name: heading1;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    @keyframes heading {
      0% {left: -1000px;}
      100% {left: 0;} 
    }
    h1 {
      font-size: 500%;
      font-weight: bolder;
      margin-bottom: 5%;
      position: relative;
      animation-name: heading1;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    @keyframes heading1 {
      0% {left: -1000px;}
      100% {left: 0;} 
    }
    p {
      padding: 10px 57% 11px 16px;
      line-height: 24px;
      word-spacing: 3%;
      position: relative;
      animation-name: content;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    @keyframes content {
      0% {left: -1000px;}
      100% {left: 0;} 
    }
  }
  .explore {
    margin-right: 3%;
    margin-top: 15%;
    h1 {
      font-size: 180%;
      font-weight: bolder;
      border: 1px solid white;
      padding: 35px 28px 33px 26px;
      border-radius: 50% 50% 50% 50%;
      color: black;
      background-color: white;
      transition-property: all;
      transition-duration: 1s;
      transition-delay: 2s;
      transition-timing-function: ease-in-out;
    }
    h1:hover {
      background-color: red;
      color: white;
      transform: rotateY(180deg);
    }
  }
}
