@import "partials/global";
@import "partials/header";

body {
    background-image: url(/img/crew/destination/background-destination-desktop.jpg);
    background-repeat: none;
  }
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 8%;
}
img {
    width: 50%;
}