.head {
  margin-bottom: $headerMargin * 2;
  min-height: $headerHeight;
  padding: $bodyPadding;
  width: 100%;
  top: $headerMargin*7;
}
.numberedlist {
  justify-content: space-evenly;
  margin-right: 2%;
}