.head {
  margin-bottom: $headerMargin * 2;
  min-height: $headerHeight;
  padding: $bodyPadding;
  width: 100%;
  top: $headerMargin*7;
}
.numberedlist {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5%;
}